%p#notice= notice
%p
  %strong Title:
  = @post.title
%p
  %strong Content:
  = @post.content

%h3 Comments

= render "comments/comments"

%br/

= render "comments/form"
= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Back', posts_path
