/*body {
  /*padding-top: 60px;
}

* {
	font-family: "Arial Black" Gadget, sans-serif;
}

#title {
	color: black;
	padding: 10px;
	text-align: center;
}
.navbar {
	border-top: 1px solid black;
	border-bottom: 5px solid red;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


.navbar-right {
	float: right;
}*/