%header
	.navbar
		= link_to "simple blog", root_path, id: "logo"
		%nav
			%ul.navbar-right
				- if user_signed_in?
					%li= link_to "Posts", posts_path
					%li= link_to "Sign out", destroy_user_session_path, :method => 'delete'
				- else
					%li= link_to "Sign In", new_user_session_path
					%li= link_to "Register", new_user_registration_path